*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	transition: all 0.2s ease-in;
	text-decoration: none;
	color: inherit;
}
.dark-grey{
	background-color: #050E0F !important;}
	.dark-grey-text{
	color: #050E0F !important;}
.white{
	background-color: #EEF6E4 !important;}
	.white-text{
	color: #EEF6E4 !important;}
.red{
	background-color: #FF3D33 !important;}
	.red-text{
		color: #FF3D33 !important;}
.comment-container{
	position: relative;
	width: 600px;
	max-width: 90%;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 10px 6px -6px #777;
}
form > *{
	margin: 10px 0;
}

div.seperator{
	height: 1px;
	width: 100%;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.1);}
.left{
	float: left;}
.right{
	float: right;}

/*Reusable minimal textarea*/
textarea{
	width: 100%;
	line-height: 20px;
	vertical-align: top;
	height: 42px;
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
	transition-delay: 0.5s;
	animation: drop-down 0.5s ease-in;
	border: none;
	resize: none;}
	.theme.dark textarea{
		color: rgba(5, 14, 15, 0.6);}
	textarea:focus{
		transition-delay: 0s;
		height: 80px;}
/*Reusable input text field*/
input[type="text"]{
	width: 100%;
	line-height: 20px;
	padding: 10px;
	background-color: #FFF;
	animation: drop-down 0.5s ease-in;
	border: none;}
	.theme.dark input[type="text"]{
		color: rgba(5, 14, 15, 0.6);}

/*Reusable 3D submit button*/
input[type="submit"]{
	font-size: 12px;
	padding: 10px 30px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	outline: none;
	border: none;
	color: #FFF;
	transition: none;
	border-radius: 5px;
	box-shadow: 0 3px #316BE7;
	background-color: #477EFF;}
	input[type="submit"]:hover{
		top: 1px;
		box-shadow: 0 2px #316BE7;}
	input[type="submit"]:active{
		top: 3px;
		box-shadow: 0 0;
	}

.comment{
	display: block;
	width: 100%;
	clear: both;
	list-style: none;}
	.comment .comment-list{
		display: block;
		padding-bottom: 5px;
		animation: fade-in 1s ease-in;}
		.comment-list:last-child{
			border: none;
		}
		.comment .comment-list > *{
			color: rgba(5, 14, 15, 0.5);
			margin: 10px 0;}
		.comment-list header{
			position: relative;
			width: 100%;}
				.comment-author .avatar{
					width: 80px;
					float: left;
					vertical-align: text-top;
					margin-right: 20px;}
				.comment-author span.author-name{
					font-weight: 700;}
					.comment-author span.author-name:hover{
						color: rgba(5, 14, 15, 0.8);}
				.comment-author .dropdown ul{
					list-style: none;
					position: absolute;
					right: -10px;
					z-index: 2;
					display: none;
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
					width: 100px;}
					.dropdown i{
						cursor: pointer;
					}
					.dropdown ul li{
						padding: 5px;
						font-size: 12px;
						background-color: #fff;}
					.dropdown:hover ul{
						display: block;
						animation: drop-down 0.2s ease-out;}
						.dropdown ul li:hover{
							background-color: #eee;
						}
			.comment-option{
				margin-top: 10px;}
				.comment-option a{
					font-size: 12px;
					font-weight: 700;
					margin-right:15px;}
					.comment-option a:hover{
						color: rgba(5, 14, 15, 0.8);}
		.comment-list article{
			display: block;
			position: relative;
			margin-left: 100px !important;}
			.comment-list article p{
				word-wrap: break-word;
				block: inline;
				white-space: pre-line;
			}
		.comment-list footer{
			display: block;
			position: relative;
			margin-left: 50px !important;
			padding-left: 10px;
			padding-top: 10px;
		}
@media only screen and (max-width: 768px){
	.comment-author{
		clear: both;}
		.comment-author .avatar{
			width: 64px;
		}
	.comment-list article{
		clear: both;
		padding-top: 10px;
		margin-left: 0 !important;
	}
	.comment-list footer{
		margin-left: 20px !important;}
}

@-webkit-keyframes drop-down{
	from {
		opacity: 0.5;
		-webkit-transform: translateY(15%);
		transform: translateY(15%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@keyframes drop-down{
	from {
		opacity: 0.5;
		-webkit-transform: translateY(15%);
		-moz-transform: translateY(15%);
		transform: translateY(15%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		transform: translateY(0%);
	}
}

@-webkit-keyframes fade-in{
	from {
		-moz-opacity: 0;
		opacity: 0;
	}
	to {
		-moz-opacity: 1;
		opacity: 1;
	}
}
@keyframes fade-in{
	from {
		-moz-opacity: 0;
		opacity: 0;
	}
	to {
		-moz-opacity: 1;
		opacity: 1;
	}
}